.not-found-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found-page a{
    text-decoration: none;
}
.not-found-page h1{
    font-size: 20px;
}
.not-found-page a button{
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #7509e2;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}